
<h2>Login</h2><br>
<form asp-action="Login">
    <div class="form-outline mb-4">
        <input type="email" name="Email" value="Email" class="form-control"/>
    </div>
    <div class="form-outline mb-4">
        <input type="password" name="Password" value="Password" class="form-control"/>
    </div>
    <br>
    <input type="submit" name="Submit" value="Submit">
</form>