
<h2>Registration</h2>
<form asp-action="Register">
    <div class="form-outline mb-4">
        <input type="text" name="Name" value="Name" class="form-control"/>
    </div>
    <div class="form-outline mb-4">
        <input type="text" name="Surname" value="Surname" class="form-control"/>
    </div>
    <div class="form-outline mb-4">
        <input type="email" name="Email" value="Email" class="form-control"/>
    </div>
    <div class="form-outline mb-4">
        <input type="password" name="Password" value="Password" class="form-control"/>
    </div>
    <br>
    <input type="submit" name="Submit" value="Submit">
</form>